<h2>サインイン</h2>
<div class="paragraph">
  <p>メールアドレスとパスワードを入力してサインインしてください</p>
</div>
<% if flash.alert %>
    <p class="alert"><%= flash.alert %></p>
<% end %>
<%= form_tag '/login', id: "login_form" do %>
  <div class="login_form">
    <input type="text" name="email" placeholder="メールアドレス">
    <input type="password" name="password" placeholder="パスワード">
    <div class="submit"><input type="submit" value="サインイン" class="submit"></div>
  </div>
<% end %>

<p>会員登録がお済みでない方は<%= link_to "こちら", :new_user %>から新規会員登録を行ってください。</p>