<div class="paragraph">
    <p>
        管理者としてログイン中
    </p>
</div>
<% if @items.present? %>
    <div class="items">
        <% @items.each do |item| %>
            <div class="item_box">
                <h4><%= link_to item.item_name , admin_item_path(item) %></h4>
                <h6><%= item.price %> 円</h6>
            </div>
        <% end %>
    </div>
<% else %>
    <p>商品がないか、商品一覧の取得に失敗しました</p>
<% end %>