<h2>管理者サインイン</h2>
<div class="paragraph">
  <p>管理者IDとパスワードを入力してサインインしてください</p>
</div>
<% if flash.alert %>
    <p class="alert"><%= flash.alert %></p>
<% end %>
<%= form_tag 'login', id: "login_form" do %>
  <div class="textbox">
    <input type="text" name="admin_name" placeholder="管理者ID">
    <input type="password" name="password" placeholder="パスワード">
    <input type="submit" value="サインイン" class="submit">
  </div>
<% end %>