<% @page_title = "注文完了" %>
<% @header = true %>

<h2><%= @page_title %></h2>
<div class="paragraph">
    <p>
        ご注文が確定しました<br>
        <br>
        <%= link_to "注文履歴", orders_path %><br>
        <%= link_to "TOPへもどる", :root %>
    </p>
</div>