/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* 全体のやつ */
body{
    display: flex;
    flex-direction: column;

}
main{
    padding: 0 10%;
}
.paragraph{
    background-color: beige;
    border-left: darkgreen solid 5px;
    padding: 5px 3px;
}
h2{
    border-bottom: darkgreen dotted 7px;
    padding-left: 10px;
}
footer{
    text-align: center;
}
#des{
    text-align: right;
    font-size: small;
}
.debug{
    background-color: darkgreen;
    color: whitesmoke;
    text-align: center;
}
/* アラート */
.alert{
    color: tomato;
}
.notice{
    border-radius: 15px;
    background-color: honeydew;
    padding: 5px;
    text-align: center;
    color: dimgray;
}
/* ヘッダー */
.account-menu{
    text-align: right;
    list-style-type: none;
    font-weight: bold;
}
.account-menu li{
    display: inline-block;
    vertical-align: middle;
    margin: 7px;
}
.account-menu a{
    color: black;
}
.nav{
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    font-size: 18pt;
}
.nav a{
    text-decoration: none;
    color: seagreen;
}
.nav form{
    display: inline;
}

.nav li{
    display: inline;
    padding: 3px 10px;
}
.nav li:hover{
    border-bottom: forestgreen 4px solid;
}
.title a{
    text-decoration: none;
    font-size: 28pt;
    color: olivedrab;
}
/* エラー表示 */
#errors {
    width: 60%;
    padding: 4px;
    margin: 1%;
    border: tomato 2px solid;
    border-radius: 10px;
    background-color: rgba(255, 210, 202, .5);
}
#errors h3 {
    padding-left: 10px;
    margin: 0;
    border-bottom: tomato dotted 8px;
}
#errors ul{
    margin: 5px;
}
/* カテゴリ追加編集フォーム */
.cat_form{
    width: 70%;
    margin: auto;
}
/* ユーザー情報のフォーム */
.user_form table{
    width: 60%;
}
.user_form input[type='text']{
    width: 80%;
}