/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* 全体のやつ */
body{
    display: flex;
    flex-direction: column;

}
main{
    padding: 0 10%;
}
.paragraph{
    background-color: beige;
    border-left: darkgreen solid 5px;
    padding: 5px 3px;
}
footer{
    text-align: center;
}
#des{
    text-align: right;
    font-size: small;
}
.debug{
    background-color: darkgreen;
    color: whitesmoke;
    text-align: center;
}
input[type='submit']{
    margin: 7px;
    font-size: 12pt;
    background-color: olivedrab;
    border-style: outset;
    border-color: #505000;
    border-radius: 10px;
    padding: 4px 9px;
    color: whitesmoke;
    transition: 0.2s;
    cursor: pointer;
}
input[type='submit']:hover{
    border-style: solid;
    border-color: #404000;
    background-color: #707000;
}
/* アラート */
.alert{
    color: tomato;
}
.notice{
    border-radius: 15px;
    background-color: honeydew;
    padding: 5px;
    text-align: center;
    color: dimgray;
}
/* ヘッダー */
.account-menu{
    text-align: right;
    list-style-type: none;
    font-weight: bold;
}
.account-menu li{
    display: inline-block;
    vertical-align: middle;
    margin: 7px;
}
.account-menu a{
    color: black;
}
.textbox{
    position: relative;
    padding: 15px 5%;
}
.textbox input[type='submit']{
    margin: 7px;
    background-color: olivedrab;
    border-style: outset;
    border-color: #505000;
    border-radius: 10px;
    padding: 7px;
    color: whitesmoke;
    transition: 0.2s;
    cursor: pointer;
}
.textbox input[type='submit']:hover{
    border-style: solid;
    border-color: #404000;
    background-color: #707000;
}
.nav{
    text-align: center;
    list-style-type: none;
    font-weight: bold;
    font-size: 18pt;
}
.nav a{
    text-decoration: none;
    color: seagreen;
}
.nav form{
    display: inline;
}
.nav form input[type='text']{
    height: 18pt;
    vertical-align: middle;
    border-radius: 5px;
    border: olive 1px solid;
    padding: 3px;
}
.nav form input[type='text']:focus{
    border: yellowgreen 1px solid;
    box-shadow: 0 0 3px 1px rgba(100,200,100,.5);
}
.nav form input[type='submit']{
    font-weight: bold;
    background: none;
    border: none;
    color: seagreen;
    font-size: 18pt;
    cursor: pointer;
}
.nav li{
    display: inline;
    padding: 3px 10px;
}
.nav li:hover{
    border-bottom: forestgreen 4px solid;
}
.title a{
    text-decoration: none;
    font-size: 28pt;
    color: olivedrab;
}
/* 商品概要 */
.items{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 2%;
}
.item_box{
    width: 150px;
    height: 250px;
    padding: 5px;
    margin: 5px;
    border: olive 1px solid;
    border-radius: 10px;
    overflow: hidden;
}
.item_box h4{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item_box h6{
    float: right;
}
.paragraph table{
    margin: 10px;
}
.paragraph th{
    padding: 5px;
    border-radius: 5px;
    background-color: palegreen;
    color: #202000;
}
.paragraph form input[type='number']{
    vertical-align: middle;
    border-radius: 5px;
    border: olive 1px solid;
    padding: 3px;
    text-align: right;
    font-weight: bold;
    font-size: 10pt;
    margin: 10px;
}
.paragraph form input[type='number']:focus{
    border: yellowgreen 1px solid;
    box-shadow: 0 0 3px 1px rgba(100,200,100,.5);
}
.paragraph form input[type='submit']{
    margin: 7px;
    background-color: olivedrab;
    border-style: outset;
    border-color: #505000;
    border-radius: 5px;
    padding: 3px;
    color: whitesmoke;
    transition: 0.2s;
    cursor: pointer;
}
.paragraph form input[type='submit']:hover{
    border-style: solid;
    border-color: #404000;
    background-color: #707000;
}
/* テーブル */
table {
    margin:auto;
    width: 80%;
}
table th{
    background-color: palegreen;
    color: #202000;
    padding: 5px;
    border-radius: 5px;
    font-size: 14pt;
}
table td{
    padding: 5px;
    background-color: beige;
    border-radius: 5px;
}
/* フォーム */
input[type='text'], input[type='password'], input[type='number']{
    height: 18pt;
    align-content: center;
    vertical-align: middle;
    border-radius: 5px;
    border: olive 1px solid;
    padding: 6px;
}
input[type='text']:focus, input[type='password']:focus, input[type='number']:focus{
    border: yellowgreen 1px solid;
    box-shadow: 0 0 3px 1px rgba(100,200,100,.5);
}
.field_with_errors input[type='text'], .field_with_errors input[type='password'], .field_with_errors input[type='number']{
    box-shadow: 0 0 3px 1px  rgb(236, 60, 60);
    border: crimson 1px solid;
}
.submit{
    text-align: right;
}

/* エラー表示 */
#errors {
    width: 60%;
    padding: 4px;
    margin: 1%;
    border: tomato 2px solid;
    border-radius: 10px;
    background-color: rgba(255, 210, 202, .5);
}
#errors h3 {
    padding-left: 10px;
    margin: 0;
    border-bottom: tomato dotted 8px;
}
#errors ul{
    margin: 5px;
}
/* カテゴリ追加編集フォーム */
.cat_form{
    width: 70%;
    margin: auto;
}
/* ユーザー情報のフォーム */
.user_form table{
    width: 60%;
}
.user_form input[type='text']{
    width: 80%;
}