.item_show{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 3%;
}
.image_and_detail{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
#item_image, #item_detail{
    text-align: center;
    width: 50%;
}
#item_image img{
    width: 50%;
}